[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://gitee.com/tangxianmeng/hugo-clarity
[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://gitee.com/tangxianmeng/hugo-theme-bootstrap
